<div class="row">
<% @pictures.each do |picture| %>
  <div class="col-xs-6 cold-md-3">
    <a href="/pictures/<%= picture.id %>" class="thumbnail" >
      <%= image_tag(picture.image.url(:medium)) %><br>
      <%= picture.title %><br>
      Posted by: <%= picture.user.first_name %>
    </a>
  </div>
<% end %>
</div>